@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --main-color: #69e1bb;
    --background-color: white;
    --text-color-con: white;
    --text-color-main: #798693;
    --secondary-color: #ff6680;
    --font-mono: "Space Mono";
    --font-pop: "Poppins";
    --white: white;
}

.main-color {
    color: var(--main-color) !important;
}
.main-color-wrapper:nth-child(odd) .main-color {
    color: var(--secondary-color) !important;
}
.main-color-border {
    border-color: var(--main-color) !important;
}
.main-color-wrapper:nth-child(odd) .main-color-border {
    border-color: var(--secondary-color) !important;
}
.main-color-link {
    text-decoration-color: var(--main-color);
}
.main-color-wrapper:nth-child(odd) .main-color-link {
    text-decoration-color: var(--secondary-color) !important;
}
.main-color-hover:hover {
    color: var(--main-color) !important;
}
.main-color-wrapper:nth-child(odd) .main-color-hover:hover {
    color: var(--secondary-color) !important;
}

